main {
  margin-top: 123px;
}

.btn {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  transition: all .3s ease;
}

.btn:hover{
  background-image: url(./img/images.png);
  background-size: contain;
  border: 0;
}

dt,
.big{
  line-height: 50px;
  font-weight: 900;
  font-size: 50px;
}




dd,
.small{
  font-size: 18px;
  font-weight: 500;
}

.underbar{
  width: 40px;
  height: 2px;
}

/* main1============================ */
.main1 {
  width: 100%;
}

.main1 img {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

/* main2============================ */
.main2 {
  width: 100%;
  background-color: red;
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

/* 왼쪽 =====*/

.main2_left {
  background: url(./img/main_sec1.jpeg) no-repeat;
  background-size: cover;
  background-position: 60%;
  height: 320px;
  width: 100%;
}

.main2_left dl {
  padding: 40px 0px 0px 350px;
  /* 빽다방은 원래 이렇게 줬는데 이건 
  개발자 취향이라 크게 상관 없다!! 
  여기선 크게 문제 될게 업성서 그런가?? 
  padding: 30px 0px 0px 0px;
  margin: 0px 0px 0px 360px; */
}
.main2_left dt {
  color: #071f60;
  margin-bottom: 15px;
}

.btn1 {
  margin: 30px 0px 0px 350px;
}

/* 오른쪽=============== */
.main2_right dl {
  padding: 40px 280px 0px 80px;
}

.main2_right {
  background: url(./img/main_intro_bn.jpg) no-repeat #253f85;
  width: 100%;
  background-position: 90%;
  /* 왜 90퍼일까..?알아보긩. */

  float: left; /*div태그를 이용해서 할 수 있음!!!
  이거 블로그에적으삼. 하하..-_-*/
}

.main2_right dt {
  color: white;
  margin-bottom: 20px;
}

.main2_right dd {
  color: white;
}

.btn2 {
  margin: 30px 0px 0px 80px;
}

/* main3============================ */
.main3 img {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

.main3_1{
  line-height: 50px;
  font-weight: 900;
  font-size: 50px;
  color: #6b4d30;
}

.main3_2{
  font-size: 18px;
  font-weight: 500;
}

.underbar{
  width: 40px;
  height: 2px;
  background-color: #6b4d30;
  /* border-bottom: 1px #6b4d30; */
}


/* main4============================== */
.main4 {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}
/* main5============================== */
.section5_right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1920px;
  margin: -5px auto;
}
